/*arriere plan*/
  body {
    background:url("https://64.media.tumblr.com/00ae735bad49180027bcea16c1051d85/tumblr_py870tIpE71uzwgsuo1_400.gifv");
    background-repeat:no-repeat;
    background-size:100%;
    background-attachment: fixed;
  }

  p{
    font-style:italic;
  }

  #title{
    text-align:center;
  }

  #poems{
    text-align:center;
    border: 100px solid rgba(255, 0, 0, 0.774);
    

  }
